// this is not empty

/*.container{
    border:1px solid rgba(211, 29, 57, 0.863);
    box-shadow: -2px 3px 3px #aaa;
    padding: 0;
    margin-top: 5rem;    
    width: 70%;
}*/
.row{
    margin-bottom: 25px;
   
    margin-top: 40px;
}
.col-4{
    text-align: right;
}


