<!--<p>login works!</p>-->

<div class="row">
    <div class="col-6 offset-3">

        <h3>Login</h3>



        <div class="form-group row">
            <label class="col-3 form-group-label"> Username:</label>
            <div class="col-9">
                <input class="form-control" [(ngModel)]="userName" name="userName">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 form-group-label"> Password:</label>
            <div class="col-9">
                <input class="form-control"[(ngModel)]="password" name="password">


            </div>
        </div>

        <div class="form-group row">
            <div class="col-9 offset-3">
                <button (click)="validatelogin()" class="btn btn-info">Login</button>

            </div>
        </div>

    </div> <!-- display an error alert when login failed -->
</div> <!-- display an success alert when login succeed -->